/* 01frontend/maus-ui/src/App.css */
body, html, #root {
  height: 100%;
  margin: 0;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure canvas is not covered */
}

.hud-container {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);  /* semi-transparent background */
  padding: 20px;
}
